{% extends 'base.html' %}
{% block title %}About Me{% endblock %}
{% block content %}
    <main class="page about-me-page">
        <section class="portfolio-block about-me">
            <div class="container">
                <div class="heading">
                    <h2>About Me</h2>
                </div>
                <div class="image">
                    <img class="img-fluid" src="assets/img/avatars/avatar.jpg">
                </div>
                <div class="about-me-text">
                    <p>Hello! I am Jeff, a web developer from New York. I have been working in the web development industry for 5 years now. I have a passion for creating websites that look beautiful and function flawlessly.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}