{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% block content %}
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <!-- Start: portfolio heading -->
                <div class="heading">
                    <h2>Recent Work</h2>
                </div><!-- End: portfolio heading -->
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/image1.jpg?h=d679710e5ce8e4c2db35fde74a78a924" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">Lorem Ipsum</a></h6>
                                <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/image2.jpg?h=c5fb06440e9759bec9433393cd5a9761" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">Lorem Ipsum</a></h6>
                                <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/image3.jpg?h=3d10847c5ff6b1319937a4f817ef5f69" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">Lorem Ipsum</a></h6>
                                <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/image4.jpg?h=1982116904e6a58b7261b01d77f07045" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">Lorem Ipsum</a></h6>
                                <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/image5.jpg?h=dfa56246a493db02797b024ba354688f" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">Lorem Ipsum</a></h6>
                                <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/image6.jpg?h=ac924de94d1857a219accf2126406ac1" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">Lorem Ipsum</a></h6>
                                <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}