<footer class="page-footer">
    <div class="container">
        <div class="links"><a href="{% url 'about' %}">About me</a><a href="{% url 'contact' %}">Contact me</a><a href="{% url 'projects' %}">Projects</a></div>
        <div class="social-icons"><a href="https://linkedin.com/in/jeff-odhiambo/"><i class="icon ion-social-facebook"></i></a><a href="http://odhiambo-jeff.me"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
    </div>
</footer>